<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <!--<configSections>
  </configSections>
  <appSettings>
    <add key="DataCaptureFilePath" value="\\192.168.110.230\share\その他入金CSV\"/>

    <add key="DataCaptureFileName" value="CSV_Sample_03"/>
    <add key="Import01FilePath" value="\\192.168.110.230\share\import\インポート_1\"/>
    <add key="Import01FileName" value="解約予定データ - 1"/>
    <add key="Import02FilePath" value="\\192.168.110.230\share\import\インポート_2\"/>
    <add key="Import02FileName" value="ＪＴ移管ＦＬＧ_日付データ - 2"/>

    <add key="UploadDatFilePath" value="\\192.168.110.230\share\ZIFURIDATA\"/>
    <add key="ExportDatFilePath" value="\\192.168.110.230\share\ZIFURIDATA\"/>

    <add key="MizuhoFileName" value="Mizuho"/>
    <add key="NECFileName" value="【NEC】口振引落データ（サンプル）.xls"/>
    <add key="RisonaFileName" value="Risona"/>

    <add key="ExportMizuhoFileName" value="ExportedMizuho"/>
    <add key="ExportNECFileName" value="Exported_【NEC】口振引落データ（サンプル）.xls"/>
    <add key="ExportRisonaFileName" value="ExportedRisona"/>

    <add key="MIZUHO_DateCheck" value="30"/>
    <add key="NEC_DateCheck" value="30"/>
    <add key="RISONA_DateCheck" value="30"/>

    --><!--<add key="Import03FilePathWithFileName" value="\\192.168.110.230\share\import\インポート_2\ＪＴ移管ＦＬＧ_日付データ - 2.csv"/>--><!--
    <add key="COMMAND_TIMEOUT_KEY" value="30000000"/>
    <add key="USER_ID_KEY" value="fssysuser"/>
    <add key="PASSWORD_KEY" value="fssysuser01"/>
  </appSettings>-->
</configuration>



